@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

header {
    background: rgba(229, 84, 115, 0.10);
}

.container {
    width: 75%;
    max-width: 1940px;
    margin: 0 auto;
    padding: 50px 240px 0 240px;

}

.container-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.banner-heading {
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-style: normal;
    font-weight: 500px;
    line-height: normal;
}

.banner-text {
    color: rgba(39, 39, 39, 0.60);
    width: 594px;
    font-size: 75%;
    font-weight: 800px;
    line-height: 30px;
    margin: 32px 0;
}

.banner-img {
    width: 635px;
    height: 800px;
    flex-shrink: 0;
    vertical-align: middle;
}

button {
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    padding: 20px 43px;
    gap: 10px;
    border: 0;
    text-decoration: none;
    margin-bottom: 140px;
    cursor: pointer;
    transition: all 1s;
}

button:hover {
    background: #f00336;
}

/* section style */
.features {
    padding: 100px 0;
    margin-bottom: 50px;
}

.section-heading {
    max-width: 500px;
    text-align: center;
    margin: 20px auto;
}

.flower-heading {
    color: #272727;
    font-size: 40px;
    font-weight: 800px;
    margin-bottom: 18px;
    text-align: center;
}

.section-text {
    width: 600px;
    color: rgba(39, 39, 39, 0.60);
    margin-bottom: 48px;
    font-size: 75%;
    font-weight: 400;
    line-height: 20px;
}

.section-content {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    align-items: end;
}

.section-content .flower .flower-img {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 110px 78px 0 78px;
    margin-bottom: 30px;


}

.section-content .flower .flower-img img {
    width: 310px;
    height: 428px;
    flex-shrink: 0;

}

.section-content .flower .pink {
    background: rgba(167, 33, 98, 0.15);
}

.section-content .flower .blue {
    background: rgba(5, 151, 160, 0.15);
}

.section-content .flower .gray {
    background: rgba(71, 125, 17, 0.15);
}

.section-content .flower p {
    color: #272727;
    text-align: center;
    font-size: 75% font-weight: 700;
    line-height: 20px;
    /* 145.833% */
    text-decoration-line: underline;
}

/* 2nd section style */

.section-item {
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    text-align: center;
    gap: 271px;
    padding: 86px 175px 87px 175px;
    margin-bottom: 128px;


}

.section-item .section-side img {
    width: 88px;
    height: 88px;
    flex-shrink: 0;
}

.section-item .section-side p {
    color: rgba(39, 39, 39, 0.80);
    font-size: 75%;
    font-weight: 600;
    line-height: 35px;
    /* width: 200px; */

}

/* 3rd section style */
.hot-deal {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}

.hot-deal-content {
    display: flex;
    justify-content: space-around;
    text-align: center;

}

.hot-deal .hot-deal-text {
    max-width: 445px;
    margin-top: 240px;
    margin-bottom: 162px;
    text-align: center;
}

.Off {
    color: #E55473;

}

.third-section-item img {
    width: 318px;
    height: 420px;
    flex-shrink: 0;
}


/* fourth section style */
.fourth-section {
    margin-bottom: 128px;
    background: #FFF;
}

.fourth-section-text h3 {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.fourth-section-text p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 75%;
    font-weight: 400;
    line-height: 15px;

}

.fourth-section-floewr {
    display: flex;
    justify-content: space-around;
    gap: 24px;
}

.fourth-section-floewr img {
    width: 342px;
    height: 396px;
    flex-shrink: 0;
}

/* last section style */

.news-letter {
    margin-bottom: 128px;
}

.news-letter-main {
    background-image: url('Rectangle9.png');
    /* padding: 122px 287px; */
    background-repeat: no-repeat;
    background-position: center;
}

.news-letter-main .form-section input {
    width: 700px;
    height: 50px;
    flex-shrink: 0;
    /* text-decoration: none; */
    border: none;
    margin-left: 287px;
    border-radius: 5px;
    padding: 10px;
    outline: none;

}

.news-letter-main .form-section {
    display: flex;
    gap: 30px;
    margin-top: 48px;


}

footer {
    background: #111010;
    height: 449px;
    flex-shrink: 0;
    /* text-align: center; */
    justify-content: center;

}

.footer-section {
    padding: 128px 438px;
    width: 1440px;
    max-width: 500px;
    text-align: center;
    /* margin: 20px auto; */
    
}

footer .text-color {
    color: #E55473;
    font-size: 36px;
    font-weight: 800;
    line-height: 10px;

}
footer h3{
    
    text-align: center;
}
footer .text-color2 {
    color: rgba(255, 255, 255, 0.90);
    font-size: 36px;
    font-weight: 400;
    line-height: 30px;
}

footer .about-shop {
    color: rgba(255, 255, 255, 0.90);
    width: 468px;
    height: 45px;
    font-size: 12px;
    font-weight: 625px;
    line-height: 20px;
    margin: 18px  0;
    text-align: center;
}

footer .established {
    color: rgba(255, 255, 255, 0.40);
    font-size: 75%;
    font-weight: 355px;
    text-align: center;
}